*
{
	 margin: 0;
	 padding: 0;
}

header
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(download.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a
{
	border: 1px solid white;
}

.main-nav li a:hover
{
	border: 1px solid white
}

.hero
{
	position: absolute;
	width: 1200px;
	margin-left: 60;
	margin-top: 0;
}

h1
{
	color: white;
	text-transform: uppercase;
	font-size: 45px;
	text-align: center;
	margin-top: 250px;
	margin-left: 150;
}

.button
{
	margin-top: 30px;
	margin-left: 550px;
}

.btn
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}

.btn-one
{
	background-color: darkorange;
	font-family: "Roboto", sans-serif;
	margin-left: 60px;
}

header 1
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center
}

.btn2
{
	background-color: darkorange;
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}

.btn-two
{
	font-family: "Roboto", sans-serif;
	margin-left: -10px;
}

.btn-three
{
	font-family: "Roboto", sans-serif;
	margin-left: 1px;
}

.btn3
{
	background-color: darkorange;
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
    margin-left: 30px;
	font-size: 13px;
	text-transform: uppercase;
}

.hero2 
{
	font-size: 10px;
	position: absolute;
	width: 1200px;
	margin-left: 60;
	margin-top: 0;
}

h2
{
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	margin-top: 100px;
	margin-left: 100;
}

h3
{
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: 40px;
	margin-left: 80px;
}

h4
{
	color: white;
	text-transform: uppercase;
	font-size: 35px;
	margin-top: 250px;
	margin-left: 150;
}

.btn4
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
    margin-right: 10px;
	font-size: 13px;
	text-transform: uppercase;
}

.btn-four
{
	background-color: darkorange;
	font-family: "Roboto", sans-serif;
	margin-left: 60px;
}

h5
{
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 10px;
	margin-left: 10px;
}

COLOR
{
	color: blue;
	text-transform: uppercase;
	font-size: 25px;
	margin-top: 10px;
}